:root {
  --primary-color: #fcf8e8d6;
  --secondary-color: #94b49fca;
  --tertiary-color: #df7861;
  --button-text-color: #144d53;
  --box-shadow: 0px 5px 5px #94b49f;
}

.App section {
  background: var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  margin: 20px 0px;
}
.App-header {
  margin: 30px 0;
}

.App-logo {
  max-height: 100px;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
}

.App footer {
  margin-bottom: 30px;
}

.App footer a {
  color: var(--tertiary-color);
  text-decoration: none;
}
